<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoke.accountsoft.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".Accountflag" />
        <activity android:name=".AddInaccount" />
        <activity android:name=".AddOutaccount" />
        <activity android:name=".Inaccountinfo" />
        <activity android:name=".Outaccoutinfo" />
        <activity android:name=".Showinfo" />
        <activity android:name=".Sysset" />
        <activity android:name=".InfoManage" />
        <activity android:name=".FlagManager" />
    </application>

</manifest>
